services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - db_data:/data
    depends_on:
      migration:
        condition: service_completed_successfully

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "5173:80"
    environment:
      - BACKEND_HOST=backend:3000
    volumes:
      - ./frontend/default.conf.template:/etc/nginx/templates/default.conf.template
    depends_on:
      - backend

  migration:
    build:
      context: .
      dockerfile: backend/Dockerfile
    command: ["npm", "run", "migration:run:js"]
    env_file:
      - .env
    volumes:
      - db_data:/data

volumes:
  db_data: